
 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
  <div class="tech">
      <h2>Analyst I</h2>
      <img src="{{ "/assets/img/crowdstrike.png" | prepend: site.baseurl }}" height="250">
      <p style="text-align: justify;margin: 5px">Hands-on Training in Threat Defense & Cloud at CrowdStrike Incident Response team 2024.
    </div>
  <div class="tech">
      <h2>Threat Researcher</h2>
       <img src="{{ "/assets/img/buguard.png" | prepend: site.baseurl }}" height="250">
      <p style="text-align: justify;margin: 5px">Threat Researcher at Buguard specializing in APT tracking, adversary infrastructure hunting, and in-depth threat intelligence research. 
    </div>
    <div class="tech">
      <h2>team lead</h2>
      <img src="{{ "/assets/img/darkatlas.png" | prepend: site.baseurl }}" height="250">
      <p style="text-align: justify;margin: 5px">Threat Team Lead at Dark Atlas, overseeing advanced threat intelligence operations, APT tracking, and adversary infrastructure analysis. 
</p>
    </div>
</div>
